// \\\\\ FONTS //////////

// poppins fonts
.poppins-thin {
  font-family: "Poppins", sans-serif;
  @include thin;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  @include extralight;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  @include light;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  @include regular;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  @include medium;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  @include semibold;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  @include bold;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  @include extrabold;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  @include black;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  @include thin-italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  @include extralight-italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  @include light-italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  @include regular-italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  @include medium;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  @include semibold-italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  @include bold-italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  @include extrabold-italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  @include black-italic;
}

//  Montserrat fonts
.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include thin;
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include extralight;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include light;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include regular;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include medium;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include semibold;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include bold;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include extrabold;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include black;
}

.montserrat-thin-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include thin-italic;
}

.montserrat-extralight-italic {
  font-family: "Montserrat", sans-serif;
  @include extralight-italic;
}

.montserrat-light-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include light-italic;
}

.montserrat-regular-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include regular-italic;
}

.montserrat-medium-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include medium;
}

.montserrat-semibold-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include semibold-italic;
}

.montserrat-bold-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include bold-italic;
}

.montserrat-extrabold-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include extrabold-italic;
}

.montserrat-black-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @include black-italic;
}

//  SourceCodePro fonts
.source-code-pro-thin {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include thin;
}

.source-code-pro-extralight {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include extralight;
}

.source-code-pro-light {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include light;
}

.source-code-pro-regular {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include regular;
}

.source-code-pro-medium {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include medium;
}

.source-code-pro-semibold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include semibold;
}

.source-code-pro-bold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include bold;
}

.source-code-pro-extrabold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include extrabold;
}

.source-code-pro-black {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  @include black;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

// \\\\\\\\ HEADING AND TEXT ELEMENTS /////////

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  @include media-breakpoint-up(xs) {
    font-size: 1.7rem !important;
  }
  @include media-breakpoint-up(sm) {
    font-size: 2rem !important;
  }
  @include media-breakpoint-up(md) {
    font-size: 3rem !important;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4rem !important;
  }
}

h2 {
  @include media-breakpoint-up(xs) {
    font-size: 1.5rem !important;
  }
  @include media-breakpoint-up(sm) {
    font-size: 1.925rem !important;
  }
  @include media-breakpoint-up(md) {
    font-size: 2.5rem !important;
  }
  @include media-breakpoint-up(lg) {
    font-size: 3rem !important;
  }
}

h3 {
  @include media-breakpoint-up(xs) {
    font-size: 1.3rem !important;
  }
  @include media-breakpoint-up(sm) {
    font-size: 1.45rem !important;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.7rem !important;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2rem !important;
  }
}

p {
  @include media-breakpoint-up(xs) {
    font-size: 0.8rem !important;
  }
  @include media-breakpoint-up(sm) {
    font-size: 1.2rem !important;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.35rem !important;
  }

  line-height: 1.5;
}

// \\\\\\\\ HEADING LINE //////
//  HEADING LINE

.heading-line{
  &-light{
    &::before{
      @include heading-line-before($accent-color); 
    }
    &::after{
      @include heading-line-after($accent-color);
    } 
  }

  &-dark{
    &::before{
      @include heading-line-before($dark-accent-color); 
    }
    &::after{
      @include heading-line-after($dark-accent-color);
    } 
  }
  &-secondary{
    &::before{
      @include heading-line-before($secondary-color); 
    }
    &::after{
      @include heading-line-after($secondary-color);
    } 
  }
  &-dark-secondary{
    &::before{
      @include heading-line-before($dark-secondary-color); 
    }
    &::after{
      @include heading-line-after($dark-secondary-color);
    } 
  }
}


