// colors light
$primary-color: #3498db; 
$secondary-color: #f1c40f;
$accent-color: #2ecc71;

$default-background: #ffffff;
$default-text: #333333;
$default-highlight: $primary-color;

//  Dark mode color
$dark-primary-color: #2c3e50;
$dark-secondary-color: #ff9900;
$dark-accent-color: #1abc9c;

$dark-default-background: #1a1a1a;
$dark-default-text: #ffffff;
$dark-default-highlight: $dark-primary-color;

