// dark theme
.dark {
  @include default-dark-theme;

  .text-primary {
    color: $dark-primary-color !important;
  }

  .shadow {
    @include nav-box-shadow(rgba(#ffffff, 0.05));
  }

  // navbar
  .navbar {
    @include default-dark-theme;

    .navbar-brand,
    .nav-link,
    .navbar-toggler-icon,
    .navbar-toggler {
      color: $dark-default-text;
    }

    .navbar-toggler {
      border-color: $dark-default-text;
    }

    .dropdown-toggle {
      stroke: $dark-default-text;
      color: $dark-default-text;
    }
  }

  // hero
  .hero {
    @include default-dark-theme;

    h1 {
      color: $dark-default-text;
    }
  }

  // about
  .about {
    @include dark-secondary-theme;

    h2,
    h3 {
      color: $dark-secondary-color;
    }

    .about__title {
      p {
        color: $dark-secondary-color;
      }
    }

    .details__icon {
      color: $dark-secondary-color;
    }
  }

  // services
  .services {
    @include default-dark-theme;

    .services__title {

      h2,
      p {
        color: $dark-accent-color;
      }
    }
  }

  // projects
  .projects {
    @include default-dark-theme;

    .projects__title {

      h2,
      p {
        color: $dark-accent-color;
      }
    }
  }

  // contact
  .contact {
    @include dark-secondary-theme;

    h2,
    p {
      color: $dark-secondary-color;
    }

    .contact__form {
      // @include default-light-theme;
    }

    .social-links {
      @include default-dark-theme;
    }
  }

  .footer {
    @include footer-dark-theme;

    // contact-box content
    .contact-box {
      &__icon {
        stroke: $dark-default-footer-icon;
      }

      &__info {
        &--title {
          color: $dark-default-footer-link;
        }

        &--subtitle {
          color: $dark-default-footer-link;
        }
      }

    }

    // Copyrght 
    .footer-bottom {
      &__copyright {
        color: $dark-default-footer-text;

        a {
          color: $dark-default-footer-text;

          &:hover {
            color: $dark-default-footer-link;
          }
        }
      }
    }

  }
}