// light theme
.light {
  @include default-light-theme;

  .text-primary {
    color: $primary-color !important;
  }

  // navbar
  .navbar {
    @include default-light-theme;

    .navbar-brand,
    .nav-link {
      color: $default-text !important;
    }

    .dropdown-toggle{
      stroke: $default-text;
      color: $default-text;
    }
  }

  // hero
  .hero {
    @include default-light-theme;

    h1 {
      color: $default-text;
    }
  }

  // about
  .about {
    @include light-secondary-theme;

    h2,
    h3 {
      color: $secondary-color;
    }

    .about__title {
      p {
        color: $secondary-color;
      }
    }

    .details__icon {
      color: $secondary-color;
    }
  }

  // services
  .services {
    @include default-light-theme;

    .services__title {

      h2,
      p {
        color: $accent-color;
      }
    }
  }

  // projects
  .projects {
    @include default-light-theme;

    .projects__title {

      h2,
      p {
        color: $accent-color;
      }
    }
  }

  // contact
  .contact {
    @include light-secondary-theme;

    h2,
    p {
      color: $secondary-color;
    }

    .contact__form {
      // @include default-light-theme;
    }

    .social-links {
      @include default-light-theme;
    }
  }

  .footer {
    @include footer-light-theme;

    // contact-box content
    .contact-box {
      &__icon {
        stroke: $default-footer-icon;
      }

      &__info {
        &--title {
          color: $default-footer-icon;
        }

        &--subtitle {
          color: $default-footer-icon;
        }
      }

    }

    // Copyrght 
    .footer-bottom {
      &__copyright {
        color: $default-footer-text;

        a {
          color:  $default-footer-text;
          &:hover {
            color: $default-footer-link;
          }
        }
      }
    }

  }
}