.services {
    padding-top: 5rem;
    .services__title {
        margin-bottom: 7rem;
    }
    
    .services_list {
        .services_card {
            margin-bottom: 4rem;
        }
    }

    .hr-separator{
        text-align: center;
        margin: 5rem auto 9rem auto;
        width: 15rem;
        &-light{
            border-bottom: 3px dotted $default-text;
        }

        @include media-breakpoint-down(sm){
            width: 3rem;
        }
        @include media-breakpoint-down(md){
            width: 7rem;
        }
        
    }

}